{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" hx-preserve="true"/>
    <meta content="width=device-width, initial-scale=1" hx-preserve="true" name="viewport"/>
    <script data-website-id="90ba5459-dc23-4ea8-a21f-829ec7170ecf" defer hx-preserve="true"
            src="https://cloud.umami.is/script.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css" hx-preserve="true" rel="stylesheet"/>
    <script crossorigin="anonymous"
            integrity="sha384-cvMqHzjCJsOHgGuyB3sWXaUSv/Krm0BdzjuI1rtkjCbL1l1oHJx+cHyVRJhyuEz0"
            src="https://cdn.jsdelivr.net/npm/htmx-ext-head-support@2.0.5"></script>
    <script crossorigin="anonymous" hx-preserve="true"
            integrity="sha384-+Uth1QzYJsTjnS5SXVN3fFO4I32Y571xIuv53WJ2SA7y5/36tKU1VCutONAmg5eH"
            src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script crossorigin="anonymous" hx-preserve="true"
            integrity="sha384-uuNfwJfjOG2ukYi4eAB11/t3lP4Zjf75a3UhgkLzEpiX8JpJfacpG7Ye+0tiVMxT"
            src="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js"></script>
    <script hx-preserve="true">
        addEventListener('DOMContentLoaded', (event) => {
            window.notyf = new Notyf({
                duration: 10000,
                ripple: false,
                dismissible: true,
            });

            document.addEventListener('htmx:responseError', function (e) {
                notyf.error(e.detail.xhr.response);
            });
        });
    </script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css" hx-preserve="true"
          integrity="sha384-snpJ3knpH6avB6cP1vPkNdmRzCYaCpom/3TNOyvo189BiogXYXQfXkyYpZ2/xADs" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
          hx-preserve="true"
          integrity="sha512-YHuwZabI2zi0k7c9vtg8dK/63QB0hLvD4thw44dFo/TfBFVVQOqEG9WpviaEpbyvgOIYLXF1n7xDUfU3GDs0sw=="
          rel="stylesheet"/>
    <link href="/static/app.css" hx-preserve="true" rel="stylesheet"/>
    {{ template "head" . }}
</head>

<body hx-ext="head-support" hx-history="false">
{{ template "body" . }}
</body>

</html>
{{ end }}
